@font-face {
    font-family: notoMedium;
    src: url('../assets/fonts/NotoSansCJKkr-Medium.otf');
}
@font-face {
    font-family: notoRegular;
    src: url('../assets/fonts/NotoSansCJKkr-Regular.otf');
}

body {
    font-family: notoRegular, serif;
    background: ghostwhite;
}

li {
    font-size: 16px;
    padding-bottom: 3px;
    margin-top: 5px;
}

a {
    color: black;
    /* text-decoration: underline; */
}

div {
    word-break: keep-all;
}

span {
    word-break: keep-all;
}

a:hover {
    color: #000;
}

.print-msg{
    font-size: 20px;
}

.intro {
    font-weight: bold;
    font-size: 42px;
}

.info-icon {
    vertical-align: bottom;
}

.info-text {
    vertical-align: bottom;
}

.title {
    color: #4b9cff;
    font-size: 30px;
    border-top: #d0cfd3 solid 1px;
    padding-top: 45px;
    margin-bottom: 30px;
    margin-top: 35px;
}

.sub-title {
    color: #8a898d;
    font-size: 20px;
}

.con-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.exp-time {
    line-height: 28px;
    font-weight: 300;
    margin-top: 5px;
}

.language-tag {
    border: #8ac5ff solid 1px;
    padding: 0 5px 1px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #8ac5ff;
    margin-right: 4px;
}

.language-tag.selected {
    background-color: #8ac5ff;
    padding: 0 5px 1px 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 4px;
}

.project-name {
    margin-right: 5px;
    font-weight: bold;
}

.logo-img {
    vertical-align: text-bottom;
}

@media (max-width: 991px){
    .mobile-border {
        border-top: #d0cfd3 dashed 1px;
    }
}

.project-personnel {
    font-size: 14px;
}

.email-link {
    cursor: pointer;
}

.project-movie {
    margin: 15px;
    margin-top: 10px;
}

#title, #phone {
    z-index: 100;
}

.card-body {
    background-color: ghostwhite;
}

.dreaming {
    font-weight: bold;
    font-size: 28px;
    display: block;
}

.introduce-text {
    line-height: 1.4; 
    font-size: 17px;
}

.introduce {
    font-size: 17px;
}

.tec-doc-img {
    width: 100%; 
    height: auto; 
    object-fit: contain;
    cursor: pointer;
    margin-bottom: 5px;
}

.tec-doc-text {
    /* cursor: pointer;  */
    /* text-decoration: underline; */
}

.video-time {
    color: #4b9cff;
    cursor: pointer; 
}

.video-time:hover {
    text-decoration: underline;
}